<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    
    <php>
        <var name="DEMO_DATABASE_USER" value="icomefromthenet"/>
        <var name="DEMO_DATABASE_PASSWORD" value=""/>
        <var name="DEMO_DATABASE_SCHEMA" value="c9"/>
        <var name="DEMO_DATABASE_PORT" value="3306"/>
        <var name="DEMO_DATABASE_HOST" value="172.17.41.61"/>
        <var name="DEMO_DATABASE_TYPE" value="pdo_mysql"/>
    </php>

    <testsuites>
        
        <testsuite name="default">
            <directory suffix="Test.php">src/Test/</directory>
            <exclude>src/Tests/Base/</exclude>
            <groups>
                <include><group>default</group></include>
                <exclude><group>install</group></exclude>
            </groups>
        </testsuite>
        
        <testsuite name="CalendarSlots">
            <directory suffix="Test.php">src/Test/</directory>
            <exclude>src/Tests/Base/</exclude>
            <groups>
                <include><group>CalendarSlots</group></include>
                <exclude><group>default</group></exclude>
            </groups>
        </testsuite>
        
  </testsuites>  
    
</phpunit>
